name: Type Check (workflow_call)
run-name: "${{ github.workflow }} (${{ github.ref_name }}): ${{ github.event.pull_request.title }}"

on: workflow_call

defaults:
  run:
    shell: bash

jobs:
  type-check:
    name: TypeScript Type Check
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Initialize
        uses: ./.github/actions/setup-environment

      - name: Run type check
        run: bun run check:type
